#page{
    background-color: rgb(161, 219, 241);
    border: 5px solid none;
    width: 30vw;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    border-radius: 4px;
    box-shadow: 6px 6px 6px 6px gray;
}
h1{
    text-align: center;
    color: crimson;
}
span{
    color: rgb(222, 4, 4);
    font-size: 3vh;
}
/* form{
    border: 1px solid black
} */
label{
    margin-left: 4vw;
    font-size: 1.1vw;

    font-family:Arial, Helvetica, sans-serif;
    
}
#option{
    margin-left: 4vw;
    width: 20.5vw;
    height: 3.8vh;
    font-size: 1vw;
    color: crimson;
}
input{
    margin-left: 4vw;
    width: 20vw;
    height: 3vh;
    font-size: 1.1vw;
    color: crimson;
}
button{
    background-color: crimson;
    margin-left: 12vw;
    width: 7vw;
    height: 4vh;
    margin-top: 3vh;
    border: none;
    border-radius: 1vh;
    color: white;
}
button:hover{
    background-color: rgb(149, 142, 142);
}